<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
</head>

<body>
	<div class="container">
		<h1 align="center">Batches</h1>
		<div class="row">
			
		<% batches.forEach(function(batch, index) { %>
			<div class="col">
				<div id="form-div">
			        <form action="/addreq" id="form<%= index%>" method="post"></form>
			        <input type="hidden" name="batchname" value="<%= batch %>" form="form<%= index%>"/>
			    </div>
				<div class="card">
					<div class="card2"><h3><%= batch %></h3></div>
					<ul class="list-group">
					<% items[index].forEach(function (item, index2) { %> 
						<li class="list-group-item"><%= item %> - <%= remarks[index][index2] %>, Quantity: <%= quantities[index][index2] %></li>
						<input type="hidden" name="Quan<%=index2%>" value="<%= quantities[index][index2] %>" form="form<%= index%>"/>
						<input type="hidden" name="compType<%=index2%>" value="<%= item %>" form="form<%= index%>"/>
						<% remarks[index][index2].forEach(function (remark, index3) { %> 
							<input type="hidden" name="<%= remark.split(': ')[0] %><%=index2%>" value="<%= remark.split(': ')[1] %>" form="form<%= index%>"/>
						<% }) %>
					<% }) %>
					</ul>
					<input type="submit" value="Request batch" form="form<%= index%>"/>
				</div>
			</div>
		<% }) %>

		</div>
	</div>
</body>
</html>
