<html>
	<head>
		<title>Chat</title>
		<meta name = "viewport" content="width = device-width, initial-scale = 1"/>
		<link rel="stylesheet" href="css/style.css"/>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
   		<script src="/socket.io/socket.io.js"  type="text/javascript"></script>

   		<script type="text/javascript">
   			var matches = <%- matches %>;
			var profiles = <%- profiles %>;
			var userId = parseInt(<%= userId %>);
			var otherId;
			var otherName;
			var component;

			var notifcolor = "#0b6623"

			$(document).ready(function() {
				matches.forEach(function(value, index) {
					if (value.inv_profile_id == userId) {
						otherId = value.req_profile_id;
						component = $("#invbutton"+value.inv_id).text()
					}
					if (value.req_profile_id == userId) {
						component = $('#reqbutton'+value.req_id).text()
						otherId = value.inv_profile_id;
					}

					profiles.forEach(function(value2, index2) {
						if (value2.profile_id == otherId) {
							otherName = value2.uname
						}
					})

					console.log(value.match_id)
					$("#matchedList").append($('<div>', {
						class: "card3",
						id: "sidediv" + value.match_id
					}))
					$("#matchedList").append($('<form>', {
						id: "chatform" + value.match_id,
						action: "/chat",
						method: "get" 
					}))
					$("#sidediv"+value.match_id).append($("<input>", {
						type: "hidden",
						form: "chatform" + value.match_id,
						value: otherId,
						name: "otherId"
					}))
					$("#sidediv"+value.match_id).append($("<input>", {
						type: "hidden",
						form: "chatform" + value.match_id,
						value: otherName,
						name: "otherUname"
					}))
					$("#sidediv"+value.match_id).append($("<input>", {
						type: "hidden",
						form: "chatform" + value.match_id,
						value: component,
						name: "component"
					}))				
					$("#sidediv"+value.match_id).append($("<button>", {
						class: "btn btn-secondary btn-block",
						form: "chatform" + value.match_id,
						type: "submit",
						text: otherName
					}))
				})
			})
   		</script>

	</head>
	<body>
		<% include ../partials/side %>
		<form id="logout" method="get" action="/logout"></form>
		<div>
			<h6 align="right"> Hi, <%= username %>
			<input type="submit" id="logout" value="Logout" form="logout" />
			</h6>
		</div>

		<input type="hidden" id="userId">
		<input type="hidden" id="user_id" placeholder="myID"><input id="user_to" type="hidden" placeholder="hisID"><br/>
		<input id="username" type="hidden" placeholder="my name">
		
		<h3 align="center">Matched <%= matched_comp %> with <%= matched_user %></h3>
		
		<div class="container3">
			<ul id="typing"></ul>
			<ul class="chat-peer" id="thread"></ul>
		</div>

		<div class="container2">
			<div class="form-chat" id="myForm">
				<form>
					<textarea placeholder="Type message.." id = "message"></textarea>
					<button type="submit" class="btn" id="send">Send</button>
				</form>
			</div>
		</div>

		 <script>
   		 	//initiate socket connection
			var socket = io.connect('http://10.158.3.101:3000');
			var myID = 0;
			var hisID = 0;
			var curUserId = <%= userId %>;
			var curUname = "<%= uname %>";
			var otherUname = "<%= otherUname %>";
			var selCurUname;
			var selOtherUname;
			socket.on("matchid", function(data){
				console.log("Other: " +otherUname);
				console.log("Current: " + curUname)
				$("#user_id").val(curUname);
				$("#username").val(curUname);
				$("#user_to").val(otherUname);
				myID = curUname;	
				hisID = otherUname;


				socket.emit("loaddb", {user_id: myID, user_to: hisID});
			});

			socket.on("thread", function(data) {
				$("#typing").html("");
				if(data.user_to == myID && data.user_id == hisID){
					console.log("if");
					$("#thread").append("<li><b>" +data.username+ "</b> : " + data.message + "</li>");
				} else if (data.user_id == myID && data.user_to == hisID) {
					console.log("elseif");
					$("#thread").append("<li><b>" +data.username+ "</b> : " + data.message + "</li>");
				}
			});

			socket.on("threadload", function(data) {
				if(data.user_to == myID && data.user_id == hisID){
					console.log("if");
					$("#thread").append("<li><b>" +data.username+ "</b> : " + data.message + "</li>");
				} else if (data.user_id == myID && data.user_to == hisID) {
					console.log("elseif");
					$("#thread").append("<li><b>" +data.username+ "</b> : " + data.message + "</li>");
				}
			});

			//Show "typing..." message
			socket.on("typing", function(data){
				if(data.user_to == myID && data.user_id ==hisID){
					if(data.status == true){
						$("#typing").html("<li> typing...</li>");
					}else{
						$("#typing").html("");
					}
				}
			});
			//emit form contents to socket
			$("#send").click(function(){
				console.log('pressed');
				var user_id = $("#user_id").val();
				var username = $("#username").val();
				var user_to = $("#user_to").val();
				var message = $("#message").val();
				var msg = {
					user_id : user_id,
					username : username,
					user_to : user_to,
					message : message,
				};
				socket.emit("messages", msg);
				console.log(msg);
				$("#message").val(" ");
				return false;
			});
			var timeout;
			function timeoutFunction(){
				var typo = {
					user_to : hisID,
					user_id : myID,
					status: false
				}
				socket.emit("is_typing", typo);
			}
			$("#message").keypress(function(e){
				if(e.which !== 13){
					var typo = {
						user_to : hisID,
						user_id : myID,
						status: true
					}
					socket.emit("is_typing", typo);
					clearTimeout(timeout);
					timeout = setTimeout(function() {}, 2000);
				}else{
					clearTimeout(timeout);
					timeoutFunction();
				}
			});
   		 </script>
	</body>
</html>

