<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"  type="text/javascript"></script>
	<script>
		function timedRefresh(timeoutPeriod) {
			setTimeout("location.reload(true);",timeoutPeriod);
		}

		window.onload = timedRefresh(15000);

		var matches = <%- matches %>;
		var profiles = <%- profiles %>
		var userId = parseInt(<%= userId %>);
		var otherId;
		var otherName;
		var component;

		console.log(profiles)

		var notifcolor = "#0b6623"

		$(document).ready(function() {
			matches.forEach(function(value, index) {
				if (value.inv_profile_id == userId) {
					console.log("Inventory match of " + value.inv_id);
					$('#invbutton'+value.inv_id).css("background-color", notifcolor);
					otherId = value.req_profile_id;
					component = $("#invbutton"+value.inv_id).text()
				}
				if (value.req_profile_id == userId) {
					console.log("Request match of " + value.req_id);
					$('#reqbutton'+value.req_id).css("background-color", notifcolor);
					$('#reqbutton'+value.req_id).parents("div").siblings("button").css("background-color", notifcolor);
					component = $('#reqbutton'+value.req_id).text()
					otherId = value.inv_profile_id;
				}

				profiles.forEach(function(value2, index2) {
					if (value2.profile_id == otherId) {
						otherName = value2.uname
					}
				})

				console.log(value.match_id)
				$("#matchedList").append($('<div>', {
					class: "card3",
					id: "sidediv" + value.match_id
				}))
				$("#matchedList").append($('<form>', {
					id: "chatform" + value.match_id,
					action: "/chat",
					method: "get" 
				}))
				$("#sidediv"+value.match_id).append($("<input>", {
					type: "hidden",
					form: "chatform" + value.match_id,
					value: otherId,
					name: "otherId"
				}))
				$("#sidediv"+value.match_id).append($("<input>", {
					type: "hidden",
					form: "chatform" + value.match_id,
					value: otherName,
					name: "otherUname"
				}))
				$("#sidediv"+value.match_id).append($("<input>", {
					type: "hidden",
					form: "chatform" + value.match_id,
					value: component,
					name: "component"
				}))				
				$("#sidediv"+value.match_id).append($("<button>", {
					class: "btn btn-secondary btn-block",
					form: "chatform" + value.match_id,
					type: "submit",
					text: otherName
				}))
			})
		})
		

	</script>

</head>

<body>

<form id="logout" method="get" action="/logout"></form>

<div>
	<h6 align="right"> Hi, <%= username %>
		<input type="submit" id="logout" value="Logout" form="logout" />
	</h6>
</div>

<% include ../partials/side %>

<div id="debug">
</div>

<div class="row">
	<div class="col">
		<div class="column">
			<div class="card">
				<h3>Inventory</h3>
				<br>
				<div class="card2">
					<a href="/addinv">+Add Inventory</a>
				</div>
				<div>
					<ul>
						<% inventory.forEach(function(inv) { %>
			
							<li>
								<div>
									<form id="inventory<%= inv.inv_id %>" method="post" action="/deleteinventory"></form>
								</div>
								<input type="hidden" id="inv_id" name="inv_id" value="<%= inv.inv_id %>" form="inventory<%= inv.inv_id %>"/>
								<% inv.remarks.forEach(function(remark, index) { %>
									<% if (index == 0) { %>
										<button id="invbutton<%= inv.inv_id %>" class="collapsible" data-toggle="collapse" data-target="#collapseinv<%= inv.inv_id %>"><%= remark %> <%= inv.item %></button>
										<span class="close" onClick="inventory<%= inv.inv_id %>.submit()">&times;</span>
										<div id="collapseinv<%= inv.inv_id %>" class="collapse">
											Quantity: <%= inv.quantity %> <br>
									<% } else { %>
										<%= remark %> <br>
									<% } %>
								<% }) %>
								</div>
							</li>

						<% }); %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="column">
			<div class="card">
				<h3>Requests</h3>
				<br> 
				<div class="card2">
					<a href="/addreq">+ Add Requests</a>
				</div>
				<div>
					<ul>
						<% var cur_batch = "" %>
						<% var batchnumber = 0 %>
						<% request.forEach(function(req, i, array) { %>
							<% if (/\S/.test(req.batchname)) { %>
								<% if (req.batchname != cur_batch) { %>
									<% if (cur_batch != "") { %>
										</ul>
										</div>
									</li>
									<% } %>
									<% cur_batch = req.batchname %>
									<% batchnumber += 1 %>
									<li>
										<button class="collapsible" data-toggle="collapse" data-target="#collapsebatch<%= batchnumber %>"><%= cur_batch %></button>
										<div id="collapsebatch<%= batchnumber %>" class="collapse">
											<ul>
												<li>
								<% } else { %> 
												<li>
								<% } %>
							<% } else { %>
								<% if (cur_batch != "") { %> 
									<% cur_batch = "" %>
											</ul>
										</div>
									</li>
								<% } %>
									<li>
							<% } %>

							<div>
								<form id="request<%= req.req_id %>" method="post" action="/deleterequest"></form>
							</div>

							<input type="hidden" id="req_id" name="req_id" value="<%= req.req_id %>" form="request<%= req.req_id %>"/>
							
							<div>
							<% req.remarks.forEach(function(remark, index) { %>
								<% if (index == 0) { %> 			
									<button id="reqbutton<%= req.req_id %>" class="collapsible" data-toggle="collapse" data-target="#collapsereq<%= req.req_id %>"><%= remark %> <%= req.item %></button>
									<span class="close" onClick="request<%= req.req_id %>.submit()">&times;</span>
									<div id="collapsereq<%= req.req_id %>" class="collapse">
										Quantity: <%= req.quantity %> <br>
								<% } else { %>
									<%= remark %> <br>
								<% } %>
							<% }) %>
							</div>

							<% if (/\S/.test(req.batchname)) { %>
								</li>
							<% } else  {%>	
								</li>
							<% } %>						
						<% }); %>
          			</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="column">
			<div class="card">
				<h3>General Feed</h3>
				<br>
				<div>
					<ul>
						<% feed.forEach(function(item, index) { %>
						<div>
							<li>
								<% item.remarks.forEach(function(remark, index2) { %>
									<% if (index2 == 0) { %>
										<button class="collapsible" data-toggle="collapse" data-target="#collapsefeed<%= index %>">
											<% if (item.category) { %> 
												Request: 
											<% } else { %>
												Inventory: 
											<% } %>
											<%= remark %> <%= item.item %>
										</button>
										<div id="collapsefeed<%= index %>" class="collapse">
											Quantity: <%= item.quantity %> <br>
									<% } else { %>
										<%= remark %> <br>
									<% }}) %>
								</div>	
							</li>
						</div>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="notifbar">
	<h2>Notifications</h2>
	<ul id="notifs"></ul>
</body>
</html>


