<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/head %>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"  type="text/javascript"></script>
	
	<!-- <script type="text/javascript">
		
		//initiate socket connection on page load
		var socket = io.connect('http://10.158.3.101:3000');
		// var socket = io.connect('http://localhost:3000');
		//check if current user is received **to be removed in the future
		// socket.on('user', function(data){
		// 	$("#notifs").append('<li>Connecting</li>');
		// 	console.log("user received");
		// 	console.log(<%= username %>)
		// 	var userId = <%= userId %>;

		// });

		//connect user and create redis channel
		socket.on('connected', function(){
			var msg = "Push notification enabled";
			$("#notifs").append('<li>' + msg+'</li>');
			console.log(msg);
			console.log(String(<%= username %>))
			socket.emit('join', String(<%= username %>));

		});

		//handle processed notification in the server
		socket.on('notification', function(channel, notification){
			console.log(channel + ': ' + notification);
			$("#notifs").append('<li>' + channel + ':' + notification+'</li>');
		});

	</script> -->

	<script>
		function timedRefresh(timeoutPeriod) {
			setTimeout("location.reload(true);",timeoutPeriod);
		}

		window.onload = timedRefresh(60000);
	</script>

</head>

<body>

<form id="logout" method="get" action="/logout"></form>

<div>
	<h6 align="right"> Hi, <%= username %>
		<input type="submit" id="logout" value="Logout" form="logout" />
	</h6>
</div>

<% include ../partials/side %>

<div id="debug">
</div>

<div class="row">
	<div class="col">
		<div class="column">
			<div class="card">
				<h3>Inventory</h3>
				<br>
				<div class="card2">
					<a href="/addinv">+Add Inventory</a>
				</div>
				<div>
					<ul>
						<% inventory.forEach(function(inv) { %>
			
							<li>
								<div>
									<form id="request<%= inv.inv_id %>" method="post" action="/deleteinventory"></form>
								</div>
								<input type="hidden" id="inv_id" name="inv_id" value="<%= inv.inv_id %>" form="request<%= inv.inv_id %>"/>
								<% inv.remarks.forEach(function(remark, index) { %>
									<% if (index == 0) { %>
										<button class="collapsible" data-toggle="collapse" data-target="#collapseinv<%= inv.inv_id %>"><%= remark %> <%= inv.item %></button>
										<span class="close" onClick="request<%= inv.inv_id %>.submit()">&times;</span>
										<div id="collapseinv<%= inv.inv_id %>" class="collapse">
											Quantity: <%= inv.quantity %> <br>
									<% } else { %>
										<%= remark %> <br>
									<% } %>
								<% }) %>
								</div>
							</li>

						<% }); %>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="column">
			<div class="card">
				<h3>Requests</h3>
				<br> 
				<div class="card2">
					<a href="/addreq">+ Add Requests</a>
				</div>
				<div>
					<ul>
						<% var cur_batch = "" %>
						<% var batchnumber = 0 %>
						<% request.forEach(function(req, i, array) { %>
							<% if (/\S/.test(req.batchname)) { %>
								<% if (req.batchname != cur_batch) { %>
									<% if (cur_batch != "") { %>
										</ul>
										</div>
									</li>
									<% } %>
									<% cur_batch = req.batchname %>
									<% batchnumber += 1 %>
									<li>
										<button class="collapsible" data-toggle="collapse" data-target="#collapsebatch<%= batchnumber %>"><%= cur_batch %></button>
										<div id="collapsebatch<%= batchnumber %>" class="collapse">
											<ul>
												<li>
								<% } else { %> 
												<li>
								<% } %>
							<% } else { %>
								<% if (cur_batch != "") { %> 
									<% cur_batch = "" %>
											</ul>
										</div>
									</li>
								<% } %>
									<li>
							<% } %>

							<div>
								<form id="request<%= req.req_id %>" method="post" action="/deleterequest"></form>
							</div>

							<input type="hidden" id="req_id" name="req_id" value="<%= req.req_id %>" form="request<%= req.req_id %>"/>
							
							<div>
							<% req.remarks.forEach(function(remark, index) { %>
								<% if (index == 0) { %> 			
									<button class="collapsible" data-toggle="collapse" data-target="#collapsereq<%= req.req_id %>"><%= remark %> <%= req.item %></button>
									<span class="close" onClick="request<%= req.req_id %>.submit()">&times;</span>
									<div id="collapsereq<%= req.req_id %>" class="collapse">
										Quantity: <%= req.quantity %> <br>
								<% } else { %>
									<%= remark %> <br>
								<% } %>
							<% }) %>
							</div>

							<% if (/\S/.test(req.batchname)) { %>
								</li>
							<% } else  {%>	
								</li>
							<% } %>						
						<% }); %>
          			</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="column">
			<div class="card">
				<h3>General Feed</h3>
				<br>
				<div>
					<ul>
						<% feed.forEach(function(item, index) { %>
						<div>
							<li>
								<% item.remarks.forEach(function(remark, index2) { %>
									<% if (index2 == 0) { %>
										<button class="collapsible" data-toggle="collapse" data-target="#collapsefeed<%= index %>">
											<% if (item.category) { %> 
												Request: 
											<% } else { %>
												Inventory: 
											<% } %>
											<%= remark %> <%= item.item %>
										</button>
										<div id="collapsefeed<%= index %>" class="collapse">
											Quantity: <%= item.quantity %> <br>
									<% } else { %>
										<%= remark %> <br>
									<% }}) %>
								</div>	
							</li>
						</div>
						<% }); %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
